.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-account {
  height: 10vmin;
}

.App-home {
  height: 10vmin;
}

.App-landing {
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

.App-arrow {
  height: 30vmin;
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 5px;
}

.slick-next:before,
.slick-prev:before {
  color: black;
}
